<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
</head>

<body onload="count_down_chars()">
{% extends "listapp/header.html" %}

{% block content %}
<h4>Submit Feedback</h4>
<form method="post">
    {% csrf_token %}
    <div class="form-feedback">
        <textarea id="feedback" name="feedback"
                  rows="7" cols="70" onkeyup="count_down_chars()"></textarea>
        <br>
        <p>
            <span id="feedbackCount">500</span> Characters Remaining
            <br><br>
            <input type="submit" value="Submit">
        </p>
    </div>
</form>

{% endblock %}
</body>