<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Current Steam Sales</title>
</head>

<body onload="markCurrentPage()">
{% extends "listapp/header.html" %}
{% block content %}
    <table class="table table-bordered" id="main-table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name of Game
                    <!-- Alphabet sorted in reverse order compared to numbers -->
                    <a onclick="numSortDown(0)">
                        <span class="glyphicon glyphicon-chevron-up" role="button" style="float:right"></span>
                    </a>
                    <div align="right">
                        <a onclick="numSortUp(0)">
                                <span class="glyphicon glyphicon-chevron-down" role="button"></span>
                        </a>
                    </div>
                </th>
                <th scope="col">Discount Percentage
                    <a onclick="numSortUp(1)">
                        <span class="glyphicon glyphicon-chevron-up" role="button" style="float:right"></span>
                    </a>
                    <div align="right">
                        <a onclick="numSortDown(1)">
                                <span class="glyphicon glyphicon-chevron-down" role="button"></span>
                        </a>
                    </div>
                </th>
                <th scope="col">Current Price
                    <a onclick="priceSortUp(2)">
                        <span class="glyphicon glyphicon-chevron-up" role="button" style="float:right"></span>
                    </a>
                    <div align="right">
                        <a onclick="priceSortDown(2)">
                                <span class="glyphicon glyphicon-chevron-down" role="button"></span>
                        </a>
                    </div>
                </th>
                <th scope="col">Game Rating
                    <a onclick="numSortUp(3)">
                        <span class="glyphicon glyphicon-chevron-up" role="button" style="float:right"></span>
                    </a>
                    <div align="right">
                        <a onclick="numSortDown(3)">
                                <span class="glyphicon glyphicon-chevron-down" role="button"></span>
                        </a>
                    </div>
                </th>
                <th scope="col">G2A Price
                    <a onclick="priceSortUp(4)">
                        <span class="glyphicon glyphicon-chevron-up" role="button" style="float:right"></span>
                    </a>
                    <div align="right">
                        <a onclick="priceSortDown(4)">
                                <span class="glyphicon glyphicon-chevron-down" role="button"></span>
                        </a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for sale in g2a_steam %}
            <tr>
                <td>
                    <a href="{{sale.name.steam_link}}" target="_blank">
                        {{sale.name.name}}
                    </a>
                </td>
                <td>{{sale.name.discount}}</td>
                <td>{{sale.name.price}}</td>
                <td>{{sale.name.rating}}</td>
                {% if sale.g2a_link != "N/A" %}
                    <td>
                        <a href="{{sale.g2a_link}}" target="_blank">
                            {{sale.price}}
                        </a>
                    </td>
                {% else %}
                <td>{{sale.price}}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

<div align="center">
    <ul class="pagination">
        {% if g2a_steam.has_previous %}
            <li><a href="?page={{ g2a_steam.previous_page_number }}">Previous</a></li>
        {% else %}
            <li class="disabled"><a>Previous</a></li>
        {% endif %}

        {% for page in g2a_steam.paginator.page_range %}
            <li class="pages"><a href="?page={{ page }}">{{ page }}</a></li>
        {% endfor %}

        {% if g2a_steam.has_next %}
            <li><a href="?page={{ g2a_steam.next_page_number }}">Next</a></li>
        {% else %}
            <li class="disabled"><a>Next</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}
</body>
</html>